.navbar{
    height: 100px;
}

.navbar-brand{
    margin-left: 100px;
}

.nav{
    font-size: 20px;
    margin-right: 100px;
}
.nav-item{
    color: #3D246C;
}

.nav-flex a{
    text-decoration: none;
    font-size: 20px;
    color: #775fbd;
    font-weight: 500;
}
.nav-flex{
    display: flex;
    gap: 50px;
    justify-content: space-evenly;
    margin-right: 100px;
}
html{
    font-family: 'Roboto', sans-serif;
}
.box{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.box > p{
font-size: large;
padding-top: 15px;
}

.role{
    font-weight: 700;
    font-size: 3rem;
    margin-top: 150px;
}

.description{
    background-color: #452997;
    padding: 100px;
    text-align: center;
    color: white;
    height: 520px;
}

.hello{
    font-weight: bold;
}

.skills{
    background-color: black;
    color: white;
    border-radius: 2%;
    position: absolute;
}

.container{
    background-color: white;
    border-radius: 25px;
    position: relative;
    margin-left: auto;
    top: -200px;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}

.skills-box{
    padding: 6%;
    text-align: center;
    border: 1px solid whitesmoke;
    height: 80vh;
}

.skills-box > img{
    border-radius: 50%;
    margin-bottom: 20px;
    box-shadow: rgba(255, 255, 255, 0.1) 0px 1px 1px 0px inset, rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px;
}
.skill-box1{
    border-top-left-radius: 25px;
    border-bottom-left-radius: 25px;
}

.skill-box2{
    border-top-right-radius: 25px;
    border-bottom-right-radius: 25px
}


.inner-skill{
    margin-top: 45px;
    margin-bottom: 45px;
}

.skills-box > h4{
    font-weight: 700;
}
span{
    color: #3d1f83;
}

.row{
    font-weight: 500;
}
@media(max-width:760px){
    .navbar-brand{
        margin-left: 20px;
    }
    
    .nav{
        font-size: 20px;
    }
    .role{
        font-weight: 700;
        font-size: 30px;
        margin-top: 150px;
    }
    .box{
        width: 350px;
        margin-left: 15%;
    }
    .box > img{
        width: 270px;
        height: 200px;
    }

}
